# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.cache
*.log

# Visual Studio / VS Code
.vs/
*.rsuser

# Publish / package
publish/
*.ymme.zip
ClipboardToTimelinePlugin/en_build_log.txt
ClipboardToTimelinePlugin/build_log.txt
KatasumiCapturePlugin/en_build_log.txt
